.para {
    color: black;
    border-bottom: 50px;
    border: 1px;
}

.paraboy {
    color: black;
    padding: 20px;

}

.tevos {
    color: black;
    padding: 20px;
}

.ting {
    background-color: bisque;
    border: 2px solid;
    padding: 20px;
}

.tong {
    background-color: bisque;
    border: 2px solid coral;
    padding: 20px;
}
.image-hero {
    width: 250px;
    height: 250px;
    object-fit:cover;
}

.title {
    font-family: 'Raleway', sans-serif;
}

.subtitle {
    letter-spacing: 10px;
}

#hero {
    height: 95vh;    
}

.text-about {
    text-indent: 50px;
    text-align: justify;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
